<div class="login">
  <form
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="submitForm($event)"
    class="login__form"
  >
    <h1 class="login__form-title">Войти в систему</h1>
    <nz-form-item class="login__form-item">
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input
            class="login__input"
            type="text"
            nz-input
            formControlName="userName"
            placeholder="Username"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="login__form-item">
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            class="login__input"
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login__submit">Войти</button>
  </form>
</div>
